h1 {color: #fff;}
.container{
        margin: 0 auto;
		background-color:rgba(95, 209, 238, 0.867);
        }  
.calc-container {
		padding: 20px;
		background: #020202;
		width: 250px;
		border-radius: 20px;
		box-shadow: 10px 10px 5px #d3cece;	   
		-moz-box-shadow: 10px 10px 5px #beb6b6;
		-webkit-box-shadow: 10px 10px 5px #d4cfcf;
		margin: 10px auto;
}
#box {
        width:100%; 
        height: 40px; 
        border: 0.7px solid rgb(14, 8, 8); 
        background: #fcfcfc; 
        font-size: 30px; 
        text-align: right;
        color: rgb(141, 140, 140);
		margin: 0 auto;
        } 
.btn-container {
		margin: 10px 5px;
		background: #ffbb4f;
}

.btn {
		height: 40px;
		width: 40px;
        padding: 10px; 
        background: #291616; 
        color: #fff; 
		border: none;
        margin: 8px; 
        font-size: 15px;    
		box-shadow: 1px 1px 1px #000;
	    -moz-box-shadow: 1px 1px 1px #000;
	    -webkit-box-shadow: 1px 1px 1px #000;
        }

.btn:hover {background-color: #000}

.btn:active {
  background-color: #000;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
.solvebtn {
		width:100px;
		background: #0a36fc;
}
.solvebtn:hover {background-color: #0e530e;}

.solvebtn:active {
  background-color: #6ddd6d;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
.cbtn {
		background: #f00; 
}
.cbtn:hover {background-color: #b70505}

.cbtn:active {
  background-color: #b70505;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
#footer {
		position:fixed;
	   	left:0px;
	   	bottom:0px;
	   	height:10px;
	   	width:100%;
	   	background:rgb(211, 172, 172);
		text-align: center;
		margin: 0px auto;
		padding: 10px;
		color: #fff;
		}
#footer a:link {color: #fff;text-decoration: none;}